.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    /* border: 1px solid red; */
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 30px;
    font-weight: 800;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    /* border: 1px solid red; */
    /* font-size: 26px; */
    /* margin: auto 4px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

/*顶部菜单 右侧文字*/
#menu a {
    /* font-size: 16px; */
    font-size: 20px;
    box-sizing: border-box; /* add 设置盒模型为 border-box */
    border-bottom: 2px solid transparent; /* add 确保底部边框不占用额外空间 */
    transition: border-bottom 0.1s ease-in; /* add 添加过渡动画 */
}
/*add hover*/
#menu a:hover {
    border-bottom: 2px solid currentColor;
}

#menu .active {
    /* font-weight: 500; */
    font-weight: 700;
    /* border-bottom: 2px solid currentColor; */
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 30px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
