.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
    /*add weew12*/
    transition: transform 0.3s; /* 添加过渡属性，控制变换的速度 */
}

/*add weew12*/
.terms-tags li:hover {
    transform: scale(1.05); /* 使用 transform 属性来实现缩放效果 */
}

.terms-tags a {
    display: block;
    /* padding: 3px 10px; */
    padding: 6px 12px;/*tag页item的padding设置*/
    background: var(--tertiary);
    /* border-radius: 6px; */
    border-radius: 3px;/*tag页item的radius设置*/
    transition: transform 0.1s;
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}
